<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <form action="/admin/login" method="post">
        <label>Username/Email</label>
        <input type="text" name="username" autocomplete="off" required>
        <br>
        <label>Password</label>
        <input type="text" name="Password" autocomplete="off" required>
        <br>
        <button>Login</button>
    </form>
</body>
</html>