<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/logout">Logout</a>
    <br>
    <a href="/item">item</a> ||
    <a href="/item/add">Add item</a>
    <br>
    <a href="/recipient">recipient</a> ||
    <a href="/recipient/add">Add recipient</a>
    <br>
    <a href="/transaction">transaction</a> ||
    <a href="/transaction/add">Add transaction</a>
    <!-- <a href="/transaction_item">transaction_item</a> -->
</body>
</html>