<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/item/addSameItem" method="post">
        <label>Name</label> :
        <%= data.name %>
        <br>
        <label>category</label> :
        <%= data.category %>
        <br>
        <label>brand</label> :
        <%= data.brand %>
        <label>Quantity</label>
        <input type="number" name="QTY">
        <br>
        <label>Cost of goods sold</label>
        <input type="number" name="COGS">
        <br>
        <button>Add</button>
    </form>
</body>
</html>